<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Custom URL Shortener</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="outerContainer">
    <div class="container">
      <form method="POST" action="/url">
        <h2>Create a Short URL from Your Link</h2>
        <input type="text" required name="url" placeholder="www.example.com" />
        <button class="generate" type="submit">Generate</button>
      </form>
      <% if (locals.id) { %>
      <p>
        URL Generated :
        <a href="http://localhost:8001/short/<%= id %> " target="_main"
          >http://localhost:8001/short/<%= id %></a
        >
      </p>
      <form method="GET" action="/">
        <button class="generate" type="submit">Back to home</button>
      </form>
      <% } %> <% if (typeof error !== 'undefined' && error) { %>
      <p>
        <a href="http://localhost:8001/short/<%= error %> " target="_main"
          >http://localhost:8001/short/<%= error %></a
        >
      </p>
      <form method="GET" action="/">
        <button class="generate" type="submit">Back to home</button>
      </form>
      <% } %>
    </div>
    <% if (locals.urls) { %>
    <table>
      <thead>
        <th>S. No</th>
        <th>ShortId</th>
        <th>Redirect</th>
        <th>Clicks</th>
      </thead>
      <tbody>
        <% urls.forEach((url,index) => { %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= url.shortId%></td>
          <td><%= url.redirectURL %></td>
          <td><%= url.visitHistory.length %></td>
        </tr>
        <% }) %>
      </tbody>
    </table>
    <% } %>
  </div>
  </body>
</html>
